{
  "bundle": {
    "createUpdaterArtifacts": true
  },
  "plugins": {
    "updater": {
      "pubkey": "__TAURI_UPDATER_PUBLIC_KEY__",
      "endpoints": [
        "https://github.com/isunky/PlainMint/releases/latest/download/latest.json"
      ],
      "windows": {
        "installMode": "passive"
      }
    }
  }
}
